.next-adventures {
  display: grid;
  width: 100%;
  min-height: 434px;
  grid-template-columns: repeat(12, 8%);
  grid-template-rows: repeat(11, auto);
  justify-content: center;
  margin: 50px auto;
  text-align: left;
}

.next-adventures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collage {
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.collage2 {
  grid-column: 1 / span 6;
  grid-row: 2 / span 1;
  z-index: 1;
}

.collage3 {
  grid-column: 7 / span 6;
  grid-row: 2 / span 1;
  z-index: 2;
}

.collage5 {
  grid-column: 1 / span 6;
  grid-row: 9;
  z-index: 3;
}

.collage8 {
  grid-column: 7 / span 6;
  grid-row: 9;
  z-index: 4;
}

.collage9 {
  @include flexCenter;
  flex-direction: column;
  position: absolute;
  place-self: center;
  height: 35vh;
  width: 75vw;
  z-index: 555;
  color: white;
  background-color: #9aa5aa;
  margin: 25% 10%;

  @media (min-width: 360px) {
    margin: 20% 10%;
  }
  @media (min-width: 470px) {
    margin: 15% 10%;
  }

  h3 {
    font-size: 18px;
    padding: 1em;
    text-align: left;
    color: #ffaf89;
    padding-bottom: 0px;
  }

  p {
    font-size: 14px;
    text-align: left;
    padding: 1em;
  }
}

.collage1,
.collage4,
.collage6,
.collage7 {
  display: none;
}

@media (min-width: 900px) {
  .next-adventures {
    width: 90%;
    min-height: 660px;
    grid-template-columns: repeat(12, 8%);
    grid-template-rows: repeat(11, 8%);
    margin: 0px auto 50px auto;

    h3 {
      font-size: 24px;
      padding-bottom: 10px;
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .collage {
    padding: 10px;
  }

  .collage1 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 6;
    display: unset;
  }

  .collage2 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 3;
  }

  .collage3 {
    grid-column: 1 / span 2;
    grid-row: 9 / span 3;
  }

  .collage4 {
    grid-column: 3 / span 2;
    grid-row: 6 / span 6;
    display: unset;
  }

  .collage5 {
    grid-column: 9 / span 2;
    grid-row: 3 / span 3;
  }

  .collage6 {
    grid-column: 11 / span 2;
    grid-row: 3 / span 6;
    display: unset;
  }

  .collage7 {
    grid-column: 9 / span 2;
    grid-row: 6 / span 6;
    display: unset;
  }

  .collage8 {
    grid-column: 11 / span 2;
    grid-row: 9 / span 3;
  }

  .collage9 {
    grid-column: 4 / span 6;
    grid-row: 5 / span 5;
    margin: 0;
    height: 80%;
    width: 80%;
    position: relative;
  }
}
